<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytetcp.finalab.serve.marketNews.mapper.MarketNewsMapper">
    
    <resultMap type="MarketNews" id="MarketNewsResult">
        <result property="id"    column="id"    />
        <result property="caseId"    column="case_id"    />
        <result property="phaseNum"    column="phase_num"    />
        <result property="timeNum"    column="time_num"    />
        <result property="sendAim"    column="send_aim"    />
        <result property="newsTitle"    column="news_title"    />
        <result property="content"    column="content"    />
        <result property="isCompel"    column="isCompel"    />
        <result property="action"      column="action"/>
        <result property="compelStockId"    column="compelStockId"    />
        <result property="targetString"    column="targetString"    />
        <result property="groupNum"    column="groupNum"    />
    </resultMap>
	
	<sql id="selectMarketNewsVo">
        select id, case_id, phase_num, time_num, send_aim, news_title, content,isCompel,action, compelStockId,targetString,groupNum from market_news
    </sql>
	
    <select id="selectMarketNewsList" parameterType="MarketNews" resultMap="MarketNewsResult">
        <include refid="selectMarketNewsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="caseId != null ">and case_id = #{caseId}</if>
            <if test="phaseNum != null ">and phase_num = #{phaseNum}</if>
            <if test="timeNum != null ">and time_num = #{timeNum}</if>
            <if test="sendAim != null ">and send_aim = #{sendAim}</if>
            <if test="newsTitle != null  and newsTitle != '' ">and news_title = #{newsTitle}</if>
            <if test="content != null  and content != '' ">and content = #{content}</if>
            <if test="isCompel != null  and isCompel != ''  "> and isCompel = #{isCompel}</if>
            <if test="action != null "> and action = #{action}</if>
            <if test="compelStockId != null  and compelStockId != ''  "> and compelStockId = #{compelStockId}</if>
            <if test="targetString != null  and targetString != ''  "> and targetString = #{targetString}</if>
            <if test="groupNum != null  and groupNum != ''  "> and groupNum = #{groupNum}</if>
         </where>
    </select>
    
    <select id="selectMarketNewsById" parameterType="Long" resultMap="MarketNewsResult">
        <include refid="selectMarketNewsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMarketNews" parameterType="MarketNews">
        insert into market_news
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="caseId != null  ">case_id,</if>
			<if test="phaseNum != null  ">phase_num,</if>
			<if test="timeNum != null  ">time_num,</if>
			<if test="sendAim != null  ">send_aim,</if>
			<if test="newsTitle != null  and newsTitle != ''  ">news_title,</if>
			<if test="content != null  and content != ''  ">content,</if>
            <if test="isCompel != null  and isCompel != ''  ">isCompel,</if>
            <if test="action != null ">action,</if>
            <if test="compelStockId != null  and compelStockId != ''  ">compelStockId,</if>
            <if test="targetString != null  and targetString != ''  ">targetString,</if>
            <if test="groupNum != null  and groupNum != ''  ">groupNum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="caseId != null  ">#{caseId},</if>
			<if test="phaseNum != null  ">#{phaseNum},</if>
			<if test="timeNum != null  ">#{timeNum},</if>
			<if test="sendAim != null  ">#{sendAim},</if>
			<if test="newsTitle != null  and newsTitle != ''  ">#{newsTitle},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
            <if test="isCompel != null  and isCompel != ''  ">#{isCompel},</if>
            <if test="action != null ">#{action},</if>
            <if test="compelStockId != null  and compelStockId != ''  ">#{compelStockId},</if>
            <if test="targetString != null  and targetString != ''  ">#{targetString},</if>
            <if test="groupNum != null  and groupNum != ''  ">#{groupNum},</if>
         </trim>
    </insert>
	 
    <update id="updateMarketNews" parameterType="MarketNews">
        update market_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseId != null  ">case_id = #{caseId},</if>
            <if test="phaseNum != null  ">phase_num = #{phaseNum},</if>
            <if test="timeNum != null  ">time_num = #{timeNum},</if>
            <if test="sendAim != null  ">send_aim = #{sendAim},</if>
            <if test="newsTitle != null  and newsTitle != ''  ">news_title = #{newsTitle},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="isCompel != null  and isCompel != ''  ">isCompel = #{isCompel},</if>
            <if test="action != null ">action = #{action},</if>
            <if test="compelStockId != null  and compelStockId != ''  ">compelStockId = #{compelStockId},</if>
            <if test="targetString != null  and targetString != ''  ">targetString = #{targetString},</if>
            <if test="groupNum != null  and groupNum != ''  ">groupNum = #{groupNum},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMarketNewsById" parameterType="Long">
        delete from market_news where id = #{id}
    </delete>
	
    <delete id="deleteMarketNewsByIds" parameterType="String">
        delete from market_news where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <insert id="insertMarketNewsList" useGeneratedKeys="true" keyProperty="id">
        insert into market_news
        (case_id, phase_num, time_num, send_aim, news_title, content, isCompel,action, compelStockId, targetString,groupNum)
        VALUES
        <foreach collection="marketNews" item="marketNews"  separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{marketNews.caseId},
                #{marketNews.phaseNum},
                #{marketNews.timeNum},
                #{marketNews.sendAim},
                #{marketNews.newsTitle},
                #{marketNews.content},
                #{marketNews.isCompel},
                #{marketNews.action},
                #{marketNews.compelStockId},
                #{marketNews.targetString},
                #{marketNews.groupNum}
            </trim>
        </foreach>
    </insert>
</mapper>