<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-entryOrder-edit" th:object="${entryOrder}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="modifyTime" name="modifyTime" th:field="*{modifyTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">阶段数：</label>
				<div class="col-sm-8">
					<input id="thePeriod" name="thePeriod" th:field="*{thePeriod}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第几次循环：</label>
				<div class="col-sm-8">
					<input id="loopNum" name="loopNum" th:field="*{loopNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单id：</label>
				<div class="col-sm-8">
					<input id="orderBookId" name="orderBookId" th:field="*{orderBookId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实例id：</label>
				<div class="col-sm-8">
					<input id="instanceId" name="instanceId" th:field="*{instanceId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">课件id：</label>
				<div class="col-sm-8">
					<input id="courseId" name="courseId" th:field="*{courseId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">股票id：</label>
				<div class="col-sm-8">
					<input id="stockId" name="stockId" th:field="*{stockId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="stockName" name="stockName" th:field="*{stockName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">订单价格：</label>
				<div class="col-sm-8">
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">数量：</label>
				<div class="col-sm-8">
					<input id="quantity" name="quantity" th:field="*{quantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="timeLine" name="timeLine" th:field="*{timeLine}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">linux时间戳：</label>
				<div class="col-sm-8">
					<input id="orderTime" name="orderTime" th:field="*{orderTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易人id,机器人是-1：</label>
				<div class="col-sm-8">
					<input id="traderId" name="traderId" th:field="*{traderId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易人名字,机器人ANON：</label>
				<div class="col-sm-8">
					<input id="traderName" name="traderName" th:field="*{traderName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易类型, BID("买单"), ASK("卖单");：</label>
				<div class="col-sm-8">
					<input id="tradeType" name="tradeType" th:field="*{tradeType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">Market_Order("市场单"), Limit_Order("限价单");：</label>
				<div class="col-sm-8">
					<input id="orderType" name="orderType" th:field="*{orderType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">金融产品类型,股票（stock)，期货(future)，股指(index)，期权(option)，现汇（spot)：</label>
				<div class="col-sm-8">
					<input id="financialType" name="financialType" th:field="*{financialType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">BID("买单"), ASK("卖单"), CANCEL("取消"), CLOSE_OUT("平仓"),NIT_PEND("初始化挂单"), TREND_PEND("走势挂单"), REBOT_PEND("机器人挂单");：</label>
				<div class="col-sm-8">
					<input id="orderAction" name="orderAction" th:field="*{orderAction}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "serve/entryOrder";
		$("#form-entryOrder-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-entryOrder-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
