<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-userMoneyDetail-edit" th:object="${userMoneyDetail}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">修改时间：</label>
				<div class="col-sm-8">
					<input id="modifyTime" name="modifyTime" th:field="*{modifyTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">阶段数：</label>
				<div class="col-sm-8">
					<input id="thePeriod" name="thePeriod" th:field="*{thePeriod}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第几次循环：</label>
				<div class="col-sm-8">
					<input id="loopNum" name="loopNum" th:field="*{loopNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">一秒一秒的时间：</label>
				<div class="col-sm-8">
					<input id="timeLine" name="timeLine" th:field="*{timeLine}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="instanceId" name="instanceId" th:field="*{instanceId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">课件id：</label>
				<div class="col-sm-8">
					<input id="courseId" name="courseId" th:field="*{courseId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">股票id：</label>
				<div class="col-sm-8">
					<input id="stockId" name="stockId" th:field="*{stockId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">股票名称：</label>
				<div class="col-sm-8">
					<input id="stockName" name="stockName" th:field="*{stockName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">成交价格：</label>
				<div class="col-sm-8">
					<input id="dealPrice" name="dealPrice" th:field="*{dealPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">成交数量：</label>
				<div class="col-sm-8">
					<input id="dealQuantity" name="dealQuantity" th:field="*{dealQuantity}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">资金流向，买是负，卖是正：</label>
				<div class="col-sm-8">
					<input id="costPrice" name="costPrice" th:field="*{costPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总资金：</label>
				<div class="col-sm-8">
					<input id="totalPrice" name="totalPrice" th:field="*{totalPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易人id,机器人是-1：</label>
				<div class="col-sm-8">
					<input id="traderId" name="traderId" th:field="*{traderId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">交易人名字,机器人ANON：</label>
				<div class="col-sm-8">
					<input id="traderName" name="traderName" th:field="*{traderName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">金融产品类型,股票（stock)，期货(future)，股指(index)，期权(option)，现汇（spot)：</label>
				<div class="col-sm-8">
					<input id="financialType" name="financialType" th:field="*{financialType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">order_action 或者 ClearActionName：</label>
				<div class="col-sm-8">
					<input id="actionName" name="actionName" th:field="*{actionName}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "serve/userMoneyDetail";
		$("#form-userMoneyDetail-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-userMoneyDetail-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
