<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytetcp.finalab.system.mapper.SysTeacherKeyMapper">

	<resultMap type="SysTkey" id="SysTkeyResult">
		<result property="tkey"     column="tkey"      />
	</resultMap>

	<sql id="selectTkeyVo">
        select tkey from sys_teacher_key
    </sql>

	<select id="selectTkey" resultType="String">
		select tkey from sys_teacher_key
	</select>


	<update id="updateTkey" parameterType="String">
		update sys_teacher_key SET tkey = #{tkey}
	</update>

</mapper> 