<div class="panel-body" id="TargetInfo_div" th:fragment="TargetInfo_div">
    <table id="bootstrap-table-tradingConstraint" data-mobile-responsive="true" class="table table-striped table-bordered table-hover table-condensed dataTables-example dataTable">
        <thead>
            <tr><th>标的名称</th>
                <th>最新价</th>
                <th>涨幅</th>
            </tr>

        </thead>
        <tbody>
            <tr><td>平安银行</td>
                <td>49.6</td>
                <td>+1.68%</td>
            </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript" th:fragment="TargetInfo_js">

</script>