<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-courseUpdateVar-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">阶段：</label>
				<div class="col-sm-8">
					<input id="period" name="period" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">秒数：</label>
				<div class="col-sm-8">
					<input id="tick" name="tick" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">：</label>
				<div class="col-sm-8">
					<input id="type" name="type" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">标的编码：</label>
				<div class="col-sm-8">
					<input id="subType" name="subType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">变量名称：</label>
				<div class="col-sm-8">
					<input id="variable" name="variable" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">值：</label>
				<div class="col-sm-8">
					<input id="value" name="value" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">案例id：</label>
				<div class="col-sm-8">
					<input id="caseId" name="caseId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">课件id：</label>
				<div class="col-sm-8">
					<input id="courseId" name="courseId" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "serve/courseUpdateVar"
		$("#form-courseUpdateVar-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-courseUpdateVar-add').serialize());
	        }
	    }
	</script>
</body>
</html>
