<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								阶段：<input type="text" name="period"/>
							</li>

							<li>
								秒数：<input type="text" name="tick"/>
							</li>

							<li>
								：<input type="text" name="type"/>
							</li>

							<li>
								标的编码：<input type="text" name="subType"/>
							</li>

							<li>
								变量名称：<input type="text" name="variable"/>
							</li>

							<li>
								值：<input type="text" name="value"/>
							</li>

							<li>
								案例id：<input type="text" name="caseId"/>
							</li>

							<li>
								课件id：<input type="text" name="courseId"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="serve:courseUpdateVar:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="serve:courseUpdateVar:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="serve:courseUpdateVar:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="serve:courseUpdateVar:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('serve:courseUpdateVar:edit')}]];
        var removeFlag = [[${@permission.hasPermi('serve:courseUpdateVar:remove')}]];
        var prefix = ctx + "serve/courseUpdateVar";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "课件变量更新",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'period', 
					title : '阶段',
					sortable: true
				},
				{
					field : 'tick', 
					title : '秒数',
					sortable: true
				},
				{
					field : 'type', 
					title : '',
					sortable: true
				},
				{
					field : 'subType', 
					title : '标的编码',
					sortable: true
				},
				{
					field : 'variable', 
					title : '变量名称',
					sortable: true
				},
				{
					field : 'value', 
					title : '值',
					sortable: true
				},
				{
					field : 'caseId', 
					title : '案例id',
					sortable: true
				},
				{
					field : 'courseId', 
					title : '课件id',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>