<div class="panel-body" id="liquidation_div" th:fragment="liquidation_div">
    <table id="bootstrap-table-liquidation" data-mobile-responsive="true"></table>
</div>
<script th:inline="javascript" th:fragment="liquidation_js">
    var editFlag = [[${@permission.hasPermi('serve:liquidation:edit')}]];
    var removeFlag = [[${@permission.hasPermi('serve:liquidation:remove')}]];
    var liCaseId = [[${cases.id}]];
    var liprefix = ctx + "serve/liquidation";

    function liquidation() {
        this.initPage = function () {
            initLiquidation();
        }
    }

    function initLiquidation() {
        var options = {
            url: liprefix + "/list/" + liCaseId,
            createUrl: liprefix + "/add",
            updateUrl: liprefix + "/edit/{id}",
            removeUrl: liprefix + "/remove",
            exportUrl: liprefix + "/export",
            modalName: "清算",
            search: false,
            showExport: false,
            pagination: false,
            showRefresh: false,
            showColumns: false,
            showToggle: false,
            showSearch: false,
            tableObj: $('#bootstrap-table-liquidation'),
            columns: [
                {
                    field : 'id',
                    title : '自增Id',
                    visible: false
                },
                {
                    field : 'targetName',
                    title : '标的名称',
                    sortable: false
                },
                {
                    field : 'caseId',
                    title : '案例Id',
                    visible: false,
                    sortable: false
                },
                {
                    field : 'phaseNum',
                    title : '阶段数字',
                    sortable: true
                },
                {
                    field : 'liquidationType',
                    title : '清算类型',
                    sortable: true
                },
                {
                    field : 'liquidationValue',
                    title : '清算值',
                    sortable: true
                },
                {
                    field : 'groupNum',
                    title : '组编号',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    sortable: false,
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    };

</script>