<div class="panel-body" id="course_profit_detail_div" th:fragment="course_profit_detail_div">
    <table id="bootstrap-table-userMoneyDetail" data-mobile-responsive="true"></table>
</div>
<script th:inline="javascript" th:fragment="course_profit_detail_js">
    var userMoneyUrl = "/serve/userMoneyDetail";

    function userMoneyDetail() {
        this.initPage = function () {
            initUserMoneyDetail();
        }
    }

    function initUserMoneyDetail() {
        var options = {
            url: userMoneyUrl + "/profitInCourse",
            pageSize: 10,
            pageNumber: 1,
            pageList: [10, 20, 25],
            queryParams: function (params) {
                var param = {
                    courseId:courseId,
                    pageOffset: params.offset,
                    pageLimit: params.limit,
                    sort: params.sort,
                    order: params.order
                }
                return param;
            },

            search: false,
            showExport: false,
            showRefresh: true,
            showColumns: false,
            showToggle: false,
            showSearch: false,
            pagination: true,
            pageSize: 100,
            tableObj: $('#bootstrap-table-userMoneyDetail'),
            columns: [
                {
                    field : 'traderId',
                    title : 'TraderID',
                    sortable: true
                },
                {
                    field : 'stockId',
                    visible: false
                },
                {
                    field : 'traderName',
                    title : '姓名',
                    sortable: true
                },
                {
                    field : 'totalPrice',
                    title : '已实现盈亏',
                    sortable: false,
                    formatter: function(value, row, index) {
                        var toFixedVal = 2;
                        if (stockQuotedDecimals != null
                            && stockQuotedDecimals != ''
                            && stockQuotedDecimals[row.stockId] != '') {
                            toFixedVal = stockQuotedDecimals[row.stockId];
                        }
                        return value.toFixed(toFixedVal);
                    }
                },
                {
                    field : 'unrealizedProfitandLoss',
                    title : '未实现盈亏',
                    sortable: false,
                    formatter: function(value, row, index) {
                        if (value == null) {
                            return  '--'
                        } else {
                            var toFixedVal = 2;
                            if (stockQuotedDecimals != null
                                && stockQuotedDecimals != ''
                                && stockQuotedDecimals[row.stockId] != '') {
                                toFixedVal = stockQuotedDecimals[row.stockId];
                            }
                            return value.toFixed(toFixedVal);
                        }
                    }
                },
                {
                    field : 'transactionFee',
                    title : '交易费',
                    sortable: false,
                    formatter: function(value, row, index) {
                        var toFixedVal = 2;
                        if (stockQuotedDecimals != null
                            && stockQuotedDecimals != ''
                            && stockQuotedDecimals[row.stockId] != '') {
                            toFixedVal = stockQuotedDecimals[row.stockId];
                        }
                        return Math.abs(value).toFixed(toFixedVal);
                    }
                },
                {
                    field : 'totalFine',
                    title : '总罚款',
                    sortable: false,
                    formatter: function(value, row, index) {
                        var toFixedVal = 2;
                        if (stockQuotedDecimals != null
                            && stockQuotedDecimals != ''
                            && stockQuotedDecimals[row.stockId] != '') {
                            toFixedVal = stockQuotedDecimals[row.stockId];
                        }
                        return Math.abs(value).toFixed(toFixedVal);
                    }
                },
                {
                    field : 'dealPrice',
                    title : '总盈亏',
                    sortable: false,
                    formatter: function(value, row, index) {
                        var toFixedVal = 2;
                        if (stockQuotedDecimals != null
                            && stockQuotedDecimals != ''
                            && stockQuotedDecimals[row.stockId] != '') {
                            toFixedVal = stockQuotedDecimals[row.stockId];
                        }
                        return (row.totalPrice + row.unrealizedProfitandLoss + row.transactionFee + row.totalFine).toFixed(toFixedVal);
                    }
                }/*,
                {
                    title: '<btn  style="height:25px;width:42px;border-radius: 5px;font-size: 14px;padding: 1px 3px;" textSize="1dip" class="btn btn-danger btn-rounded btn-sm" onclick="$.table.refresh($(\'#bootstrap-table-userMoneyDetail\'))">刷新</btn>',
                    align: 'right',
                    width:'0px',
                    sortable: false,
                    formatter: function () {
                        return '';
                    }
                }*/]
        };
        $.table.init(options);
    };

</script>