<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:include="include :: header"></head>
<link href="/trend/css/main.css" rel="stylesheet"/>

<body>
<div class="container quotat">
    <div class="row">
        <div class="left-cont">
            <div class="row info-cont">
                <div class="left-cont">
                    <ul id="targetList" class="list" style="font-size: 6px;">
                        <li class="tit" style="font-size: 8px;">
                            <span class="nowrap">标的名称</span>
                            <span>最新价</span>
                            <span>涨幅</span>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;">-->
                        <!--<span>平安健康</span>-->
                        <!--<span>58.8</span>-->
                        <!--<span class="green">+1.68%</span>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <div class="right-cont">
                    <div class="tab-tit">
                        <h3 id="stockName-1">平安健康</h3>
                        <ul class="tab-sp">
                            <li class="active">分时图</li>
                            <!--<a href="javascript:testCurrentRefresh()">测试刷星</a>-->
                            <!--<li>K线图</li>-->
                        </ul>
                    </div>
                    <div class="chart" id="m-line">
                        <div class="ch_div" style="display: block;">
                            分时图显示加载中...
                        </div>
                        <div class="ch_div" style="display: none;">
                            K线图显示加载中...
                        </div>
                    </div>
                </div>
            </div>
            <div class="row news" style="margin-top:10px">
                <div class="tit">
                    <h3>新闻</h3>
                </div>
                <ul class="one" style="margin-left:10px">
                    <li><a id="market-news" href="javascript:;">股票大宗交易：欢迎来到大宗交易模拟市场，案例开始</a></li>
                </ul>
                <ul id="user-news" style="margin-left:10px" hidden="hidden">
                    <li>
                        <a class="" href="javascript:;">
                            平安健康准备以¥
                            <span id="news-price"></span>
                            <span id="trade-flag"></span>
                            <span id="news-quantity"></span>支
                            <span id="news-stockid"></span>股票，请问你是否接受订单？
                            （<span id="news-timer"></span>S）
                        </a>
                        <a class="btn" href="javascript:transaction.news.submit();">是</a>
                    </li>
                </ul>
            </div>
            <div class="row tabslist">
                <ul id="myTab" class="nav nav-tabs">
                    <li id="trade-order-tab" class="active">
                        <a href="#trade" data-toggle="tab">交易下单</a>
                    </li>
                    <li id="program-order-tab">
                        <a href="#order" data-toggle="tab">程序下单</a>
                    </li>
                    <li>
                        <a href="#registered" data-toggle="tab">已挂单</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content" style="font-size: 8px;">
                    <div class="tab-pane fade in active" id="trade">
                        <div class="tab-row">
                            <h4 id="trade-title">交易标的</h4>
                        </div>
                        <div class="tab-row">
                            <h4>交易类型</h4>
                            <div id="order-option" class="radiolist">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ordertype" id="type1" value="Market_Order" checked>市场价
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="ordertype" id="type2" value="Limit_Order">委托单
                                    </label>
                                </div>
                            </div>
                            <h4>数量</h4>
                            <input id="tradeQuantity" type="text" class="form-control input-sm text" placeholder="单行输入">
                            <i id="DisplayUnit"></i>
                            <h4 id="priceText">金额</h4>
                            <input id="tradePrice" type="text" class="form-control input-sm text" placeholder="单行输入">
                        </div>
                        <div id="tradeButton" class="clearfix">
                            <button id="tradeSell" type="button" class="btn btn-danger"
                                    onclick="transaction.tradeOption.submitOrder('ASK')">卖出
                            </button>
                            <button id="tradeBuy" type="button" class="btn btn-success"
                                    onclick="transaction.tradeOption.submitOrder('BID')">买入
                            </button>
                        </div>
                    </div>
                    <!--程序下单-->
                    <div class="tab-pane fade" id="order" style="font-size: 8px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>交易标的</th>
                                <th>买卖标记</th>
                                <th>成交时间</th>
                                <th>成交数量</th>
                                <th>成交价格</th>
                                <th>单笔资金流向</th>
                                <th>累计资金流向</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>交易费-平安健康</td>
                                <td>NA</td>
                                <td>2s</td>
                                <td>100</td>
                                <td>2</td>
                                <td>-200</td>
                                <td>-500</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="registered"><!--已挂单-->
                        <table class="table">
                            <thead>
                            <tr>
                                <th>交易标的</th>
                                <th>买卖标记</th>
                                <th>成交时间</th>
                                <th>成交数量</th>
                                <th>成交价格</th>
                                <th>单笔资金流向</th>
                                <th>累计资金流向</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>京都智能</td>
                                <td>买入</td>
                                <td>2019-05-31</td>
                                <td>10000</td>
                                <td>118.26</td>
                                <td>NA</td>
                                <td>NA</td>
                            </tr>
                            <tr>
                                <td>京都智能</td>
                                <td>卖出</td>
                                <td>2019-05-31</td>
                                <td>1152</td>
                                <td>120.26</td>
                                <td>NA</td>
                                <td>NA</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-cont" style="font-size: 8px;">
            <div class="details">
                <div class="tit"><h3 id="stockName-2">平安健康</h3></div>
                <ul id="storeHouse" class="opt">
                    <li class="header">
                        <span>最后成交价</span>
                        <span>仓位</span>
                        <span>购买价</span>
                    </li>
                    <li>
                        <span class="green">28.8</span>
                        <span>2000</span>
                        <span class="red">58.5</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-12 j-opt">
                        <h4 class="avg5">O：</h4>
                        <input id="qk-order-O" type="text" readonly="readonly" class="form-control input-sm text avg5"
                               onkeyup="value=value.replace(/[^\d.]/g,'')">
                        <h4 class="avg5">V：</h4>
                        <input id="qk-order-V" type="text" readonly="readonly"
                               class="form-control input-sm text no_r avg5" onkeyup="value=value.replace(/[^\d.]/g,'')">
                        <a class="downbtn avg5" href="javascript:transaction.quickOrder.switchs()" alt="开启闪电下单">
                            <img id="qk-order" src="/trend/imgs/sd.png" class="gray" alt="开启闪电下单">
                        </a>
                    </div>
                </div>
                <ul id="sell-list" class="list">
                    <!--<li ondblclick="transaction.quickOrder.submit()"><span>卖九</span><span class="gray">ANON</span><span class="green">51.8</span><span>2000</span></li>-->
                </ul>
                <ul id="buy-list" class="list">
                    <!--<li><span>买一</span><span class="gray">ANON</span><span class="red">51.8</span><span>2000</span></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="datalist">
                <div class="tit"><h3>持仓盈亏明细</h3>
                    <p id="z-profit">（总盈亏：300）</p><p><a href="javascript:;">（持仓曲线>>）</a></p></div>
                    <div th:replace="userStock/userHoldStock :: userStock_Constraint_div"></div>
                <!--<table class="table" style="font-size: 8px">
                    <thead>
                    <tr>
                        <th>交易标的</th>
                        <th>持仓数量</th>
                        <th>成本金额</th>
                        <th>最新价格</th>
                        <th>最新市值</th>
                        <th>未实现盈利</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>平安健康</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td><a href="javascript:;">一键平仓</a></td>
                    </tr>
                    </tbody>
                </table>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="datalist">
                <div class="tit"><h3>平仓盈亏明细</h3>
                    <p>（总盈亏：0）</p><p><a href="javascript:;">（持仓曲线>>）</a></p></div>
                <table class="table" style="font-size: 8px;">
                    <thead>
                    <tr><th>暂无数据</th></tr>
                    </thead>
                </table>
                <!--<table class="table" style="font-size: 8px;">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>交易标的</th>-->
                        <!--<th>持仓数量</th>-->
                        <!--<th>成本金额</th>-->
                        <!--<th>最新价格</th>-->
                        <!--<th>最新市值</th>-->
                        <!--<th>已实现盈利</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>京都智能</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>阿里郎物流</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                        <!--<td>NA</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            </div>
        </div>
    </div>
    <div class="row">
        <!--<div class="col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">-->
        <div class="datalist col-lg-12 .col-md-12 .col-sm-12 .col-xs-12">
            <div class="tit" style="margin-bottom: -30px;"><h3 style="margin-left:8px">交易明细</h3>
                <p><a href="javascript:;">（全部详情>>）</a></p></div>
            <!--<table th:replace="transaction/instanceTardingTable :: instanceTrading_Constraint_div" class="table" style="font-size: 8px;"></table>-->
            <div th:replace="transaction/instanceTardingTable :: instanceTrading_Constraint_div"></div>
            <!--<div class="navigation">-->
            <!--<nav aria-label="Page navigation">-->
            <!--<ul class="pagination">-->
            <!--<li>-->
            <!--<a href="#" aria-label="Previous">-->
            <!--<span aria-hidden="true">&laquo;</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li>-->
            <!--<a href="#" aria-label="Next">-->
            <!--<span aria-hidden="true">&raquo;</span>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</nav>-->
            <!--</div>-->
        </div>
        <!--</div>-->
    </div>
</div>
<div th:include="include :: footer"></div>
<style>
    .bootstrap-table .fixed-table-container .fixed-table-body .instanceTrading_Constraint_div {
        padding-left: 0px;
    }
</style>
<div th:replace="transaction/instanceTardingTable :: instanceTrading_Constraint_js"></div>
<div th:replace="userStock/userHoldStock :: userStock_Constraint_js"></div>

<!--<script src="/js/jquery.min.js"></script>-->
<!--<script src="/js/bootstrap.min.js"></script>-->
<script src="/trend/js/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/trend/js/kline.js" type="text/javascript" charset="utf-8"></script>
<script src="/trend/js/mline.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(".bootstrap-table").css("padding-left", "0px");
    $(".fixed-table-container").css("padding-left", "0px");
    $(".fixed-table-body").css("padding-left", "0px");
    $(".instanceTrading_Constraint_div").css("padding-left", "0px");

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var stockMap = [[${stockMap}]];
    var courseCasesParam = [[${courseCasesParam}]];
    var userId = [[${userId}]];
    /*]]>*/
    var instanceId = [[${instanceId}]];
    var courseId = [[${courseId}]];
    var userStoreUrl = ctx + "serve/course/userStore";// 获取用户仓位信息url
    var quickOrderUrl = ctx + "serve/course/quickOrder";//闪电下单url
    var orderUrl = ctx + "serve/course/order";//下单url
    var wsUrl = [[${webSocketUrl}]];

    var websocket;
    $(function () {
        document.title = 'Finalab模拟交易教学系统'
        //是否允许客户端显示BUYSELL_ENTRY窗口
        if ('true' != courseCasesParam.UI_BUYSELL_ENTRY.toLowerCase()) {
            $('#trade-order-tab').remove();
            $('#trade').remove();
            $("#program-order-tab").addClass('active');
            $('#order').addClass('active');
            $('#order').addClass('in');
        }

        //websocket
        websocket = new WebSocket(wsUrl);
        websocket.onopen = function (evt) {
            onOpen(evt)
        };
        websocket.onclose = function (evt) {
            onClose(evt)
        };
        websocket.onmessage = function (evt) {
            onMessage(evt)
        };
        websocket.onerror = function (evt) {
            onError(evt)
        };

        //定时器
        window.setInterval(function () {
            var stockId = transaction.priceMove.stockId;
            if (tdCommon.notEmpty(stockId)) {
                var param = {instanceId: instanceId, stockId: stockId, courseId: courseId};
                //TODO 解析数据比刷新仓位
//                    transaction.submit(userStoreUrl, JSON.stringify(param), function (msg) {
//                        var storeHouseData = {newestPrice: '36.7',storeHouse: '300',avgBuyPrice: '46.9'};
//                        transaction.storeHouse.refresh();
//                    });
//                    console.log('刷新仓位。。。。')
            } else {
//                    console.log('等待股票走势数据初始化，本次不获取用户仓位信息')
            }
        }, 1000);
    });



    function sleep(ms, callback) {
        setTimeout(callback, ms)
    }

    /**
     * 初始化stocklist
     * 初始化分时图
     * 执行点击stock事件
     * @param evt
     */
    function onOpen(evt) {
        writeToScreen("websocket 已连接");
        var targetDatas = [];
        for (var key in stockMap) {
            var targetData = {
                stockId: stockMap[key].Ticker,
                title: stockMap[key].Description,
                price: '0',
                range: 0
            };
            targetDatas.push(targetData);
        }
        var stockId = Object.keys(stockMap)[0];
        transaction.target.init(targetDatas);

        transaction.priceMove.init({
            data: [],
            stockId: stockId,
            stockName: stockMap[stockId].Description,
            yestclose: getStartPrice(stockId)
        });
        console.log("onOpen 点击----- " + transaction.priceMove.stockId + '   ' + transaction.priceMove.stockName);
        document.getElementById(stockId).click();
    }
    
    function getStartPrice(stockId) {
        var startPrice = 0;
        var closePrice = stockMap[stockId].ClosePrice;
        if (closePrice == 1) {
            startPrice = stockMap[stockId].liquidationValue;
        } else if (closePrice == 0) {
            startPrice = stockMap[stockId].StartPrice;
        } else {
            console.log('未get到开盘价 stockId ： ' + stockId);
        }
        return startPrice;
    }

    function onClose(evt) {
        writeToScreen("DISCONNECTED");
    }

    function onMessage(evt) {
//        console.log('收到 ws 消息 -- ' + evt);
        var msg = JSON.parse(evt.data);
        var wsType = msg.type;
        // orderBook("当前挂单"), mLine("分时图"), kLine("k线图"), stocksPrice("股票实时价格");
        switch (wsType) {
            case 'stocksPrice':
                covertToStocksNewPrice(msg);
                break;
            case 'mLine':
                convertToMline(msg);
                break;
            case 'orderBook':
                convertToOrderBook(msg);
                break;
            case 'kLine':
                break;
            default:
                console.log('未知数据类型' + wsType);
        }

    }

    function onError(evt) {
        writeToScreen('<span style="color: red;">ERROR:</span> ' + evt.data);
    }

    function doSend(message) {
        writeToScreen("SENT: " + message);
        websocket.send(message);
    }

    function writeToScreen(message) {
        console.log(message);
    }

    function convertToMline(msg) {
        var t = msg.t;
        var datas = [];
        for (var i = 0; i < t.length; i++) {
            //时间   当前价  均价   交易量
            var data = [];
            data[0] = t[i].time;
            data[1] = t[i].price;
            data[2] = t[i].avgPrice;
            data[3] = t[i].curVol;
            datas.push(data);
        }
        if (transaction.priceMove.isInit) {
//            console.log('refresh 走势价格...' + datas);
            transaction.priceMove.refresh(datas, true);
        } else {
            console.log('走势未初始...');
        }
        datas = [];
        // 获取新闻
        refreshNews(t.length);
    }

    function covertToStocksNewPrice(msg) {
        var stockNewPriceArr = msg.t.stocks;
        if (transaction.target.isInit) {
            transaction.target.refresh(stockNewPriceArr);
        } else {
            console.log('未初始化');
        }
    }

    function convertToOrderBook(msg) {
//        console.log('收到挂单列表数据 ----******---  ' + JSON.stringify(msg.t));
        var sellMap = msg.t.sell;
        var buyMap = msg.t.buy;
        var sellArr = orderMap2List(sellMap);
        var buyArr = orderMap2List(buyMap);
        if (!transaction.tradeOrderList.isInit) {
            transaction.tradeOrderList.init({sell: sellArr, buy: buyArr});
        } else {
            transaction.tradeOrderList.refreshSell(sellArr);
            transaction.tradeOrderList.refreshBuy(buyArr);
        }
    }

    function orderMap2List(map) {
        var arr = [];
        for (var key in map) {
            var orderBooList = map[key];
            //用户闪电下单->用户下单->第一笔订单
            var orderBook = null;
            for (var index in orderBooList) {
                var _orderBook = orderBooList[index];
                if (index == 0) {
                    orderBook = _orderBook;
                } else if (_orderBook.traderId == userId) {
                    if (_orderBook.orderBolt) {
                        orderBook = _orderBook;
                        break;
                    } else {
                        orderBook = _orderBook;
                    }
                }
            }
            if (orderBook != null) {
                arr.push(orderBook);
            }
        }
        return arr;
    }

    function changeStock(instanceId, stockId) {
        console.log("*****************切换股票**********************")
        var param = {
            instanceId: instanceId,
            stockId: stockId,
            type: 'mLine'
        };
        doSend(JSON.stringify(param));
    }
    
    function refreshNews(timeNum) {
        var url = '/serve/userNews/news';
        var param = {timeNum: timeNum, courseId: courseId};
        transaction.submit(url, JSON.stringify(param), function (result) {
            console.log(JSON.stringify(result));
            if (result.code == 0) {
                if (tdCommon.notEmpty(result.userNews)) {
                    transaction.news.onUserNews(result.userNews);
                }
                if (tdCommon.notEmpty(result.marketNews)) {
                    transaction.news.onMarketNews(result.marketNews);
                }
            }
        });
    }
    
    function testCurrentRefresh() {
        var url = '/serve/userNews/userNews';
        var param = {timeNum: 56, courseId: '67'};
        transaction.submit(url, JSON.stringify(param), function (result) {
            console.log(JSON.stringify(result));
        });
    }

</script>
</body>
</html>